<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books list</title>
  <link th:href="@{/static/main.css}" rel="stylesheet" />
</head>

<body>
  <h1>Книги</h1>
  <div class="create-book-container">
    <a th:href="@{/books/create}" href="bookCreate.html">
      Создать книгу
    </a>
  </div>
  <table class="persons">
    <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Автор</th>
      <th>Жанры</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.id}">1</td>
      <td th:text="${book.title}">A book</td>
      <td th:text="${book.author.getFullName()}">John Doe</td>
      <td th:text="${#strings.listJoin(book.genres.![name], ', ')}">comedy, drama</td>
      <td>
        <a href="bookEdit.html" th:href="@{/books/edit/{id}(id = ${book.id})}">Редактировать</a>
      </td>
    </tr>
    </tbody>
  </table>
</body>
</html>