body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

table {
  width: 750px;
  border-collapse: collapse;
  margin:50px auto;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td, th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

.labels tr td {
  background-color: #2cc16a;
  font-weight: bold;
  color: #fff;
}

.label tr td label {
  display: block;
}


[data-toggle="toggle"] {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-error {
  color: red;
}

.book-delete-button {
  margin-top: 15px;
  border-color: firebrick;
  color: firebrick;
}

.create-book-container {
  display: flex;
  justify-content: center;
}
